.size {
  width: 25px;
  height: 25px;
  border: 0.5px solid;
  border-color: #11111199;
}
.space {
  background: #1e90ff56;
}
.other {
  text-align: center;
  background: #1e90ffc2;
  color: white;
}
.wall {
  background: black;
  border-color: black;
}
